:root {
    --bgcolor: radial-gradient(50% 50% at 50% 50%, #811111 57.71%, #530000 100%);
    --textShadow: -1px 1px 0 #5B0D1B, 1px 1px 0 #5B0D1B, 1px -1px 0 #5B0D1B, -1px -1px 0 #5B0D1B;
    --fontFamily: 'BlackChancery', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    background-color: #530000;
}

a {
    text-decoration: none;
}

#main {
    height: 80vh;
    width: 100vw;
}

#main .banner {
    width: 100vw;
    min-height: 80vh;
    background: radial-gradient(50% 50% at 50% 50%, #811111 57.71%, #530000 100%);
}

.nav {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 800px) {
    #main {
        height: 80vh;
    }
    #main .banner {
        min-height: 80vh;
    }
    .nav {
        height: 80vh;
    }
}

.left {
    margin-left: 5vw;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.right {
    margin-right: 5vw;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .left {
        width: 20vw;
    }
    .right {
        width: 20vw;
    }
}

#mainBody {
    display: none;
    /* filter: blur(0px); */
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* margin: auto; */
    z-index: 1;
}

#loader {
    position: absolute;
    width: 20%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 70vh;
    overflow: hidden;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0; */
}

#bar {
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: grey;
    animation: barAnimation 1.5s ease 2500ms forwards;
    margin-left: -100%;
}

@keyframes barAnimation {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

#helpBar {
    height: 0px;
    width: 0%;
    background-color: rgba(0, 0, 0, 0);
    animation: helpBarAnimation 1.5s ease 2500ms forwards;
}

@keyframes helpBarAnimation {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#barValue {
    margin-top: 100px;
    color: grey;
    width: 100%;
    font-size: 17px;
    line-height: 2;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ::-webkit-scrollbar {
    width: 3px;
} */

#start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100vw;
    height: 100vh;
}

#start .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bgcolor);
    width: 0px;
    height: 0px;
}

.main-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 2;
    transform: scale(0);
    transition: all 0.5s;
}

.logo_back {
    height: auto;
    width: 50vw;
    max-width: 400px;
    position: relative;
    animation: logo_back 12s linear infinite forwards;
    transition: all 0.2s;
}

.logo_front {
    height: auto;
    width: 50vw;
    max-width: 400px;
    position: absolute;
    transition: all 0.2s;
}

@keyframes logo_back {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vh;
}

.home-nav-line {
    height: 20vh;
    width: 2px;
    background-color: #F7A527;
}

.about-nav {
    width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vh;
}

.about-nav-line {
    height: 10vh;
    width: 2px;
    background-color: #F7A527;
}

.team-nav {
    width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vh;
}

.team-nav-line {
    height: 10vh;
    width: 2px;
    background-color: #F7A527;
}

.contact-nav {
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25vh;
}

.contact-nav-line {
    height: 20vh;
    width: 2px;
    background-color: #F7A527;
}

.nav-circle {
    width: 4vh;
    height: 4vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F7A527;
    transition: all 0.2s;
    /* background-image: url('./assets/images/nav_back.png'); */
}

.nav-circle:hover {
    transition: all 0.2s;
}

.nav-circle img {
    animation: nav_circle_img 12s linear infinite forwards;
}

@keyframes nav_circle_img {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.beforemap {
    height: 10vh;
    background: linear-gradient(180deg, #530000 0%, rgba(0, 0, 0, 0.46) 100%);
}

.aftermap {
    height: 10vh;
    background: linear-gradient(180deg, #530000 0%, #160C0C 100%);
    transform: rotate(-180deg);
    /* position: relative; */
}

#map {
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
}

.mapImg {
    width: 75vw;
    height: auto;
    overflow: scroll;
    filter: sepia(2) brightness(2.5);
    opacity: 0.5;
}

video {
    filter: sepia(2) brightness(2.5);
}

#map .desc {
    width: 25vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    /* position: absolute; */
}

#map .desc img {
    position: relative;
    width: 25vw;
    opacity: 0.3;
    height: 100%;
}

#map .desc .text {
    position: absolute;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
    font-size: 2vw;
}

@media (max-width: 800px) {
    /* #map {
        display: col;
    } */
    #map {
        flex-direction: column;
        position: relative;
    }
    .mapImg {
        /* position: absolute; */
        width: 100vw;
        height: auto;
    }
    #map .desc {
        width: 100vw;
        height: 20vh;
        background-color: rgba(0, 0, 0, 0.46);
    }
    #map .desc .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100vw;
    }
    #map .desc .text .map-text {
        width: 50%;
        font-size: 4vw;
    }
}

@media (max-width: 599px) {
    #map .desc img {
        height: 15vh;
    }
}

#about {
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/about_bg.png');
    background-position: center;
    background-size: 100% 100%;
    position: relative;
    margin-top: -10vh;
}

#about .head {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 3vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

#about .body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15vh;
    overflow: hidden;
}

#about .body .section .img {
    width: 25vw;
    height: auto;
    margin-bottom: 5vh;
    max-width: 250px;
}

#about .body .section {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

@media (max-width: 800px) {
    #about .head {
        font-size: 7vw;
    }
    #about .body {
        margin-bottom: 5vh;
    }
    #about .body .section {
        font-size: 4vw;
        justify-content: space-between;
        width: 90vw;
        align-items: center;
    }
    #about .body .section .img {
        margin-bottom: 5vh;
    }
    #about .body .section:nth-child(odd) {
        flex-direction: row;
    }
    #about .body .section:nth-child(even) {
        flex-direction: row-reverse;
    }
    #about .body .section .text {
        width: 50vw;
    }
    #about .body {
        flex-direction: column;
    }
}

#why-us {
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/images/why_us_bg.png');
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

#why-us .head {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 3vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

#why-us .body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


/************************************/

#why-us .body .section .img {
    width: 20vw;
    height: 20vw;
    /* position: absolute; */
    z-index: 2;
    transition: all 0.5s ease-out;
    /* margin-top: -32px; */
    margin-bottom: 5vh;
}


/**************************************/

#why-us .body {
    margin-bottom: 10vh;
}

#why-us .body .section {
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

@media (max-width: 800px) {
    #why-us .head {
        font-size: 7vw;
    }
    #why-us .body .section {
        width: 90vw;
        font-size: 4vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #why-us .body .section:nth-child(odd) {
        flex-direction: row;
    }
    #why-us .body .section:nth-child(even) {
        flex-direction: row-reverse;
    }
    #why-us .body .section .text {
        width: 50vw;
    }
    #why-us .body .section .img {
        width: 25vw;
        height: 25vw;
        margin-bottom: 0;
    }
    #why-us .body {
        flex-direction: column;
    }
}

#team {
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: radial-gradient(50% 50% at 50% 50%, #943434 0%, #530000 100%);
    /* overflow: hidden; */
}

#team .head {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 3vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

#team .body {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#team .body .section {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 1.5vw;
    color: blanchedalmond;
    margin-bottom: 10vh;
    max-width: 300px;
}

#team .body .section .top {
    width: 20vw;
    font-size: 2vw;
    border-radius: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 100 !important;
    font-family: 'Blinker';
}

#team .body .section .designation {
    width: 20vw;
    font-size: 1.2vw;
    font-family: 'Blinker';
}

@media (max-width: 800px) {
    #team .head .team-head {
        font-size: 7vw;
    }
    #team .body .section .top {
        font-size: 4vw;
        width: 80vw;
    }
    #team .body .section .designation {
        width: 80vw;
        font-size: 3vw;
    }
}

#team .body .section .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#team .body .section .middle .img {
    width: 20vw;
    height: auto;
    max-width: 300px;
    min-width: 150px;
    position: relative;
}

#team .body .section .middle .member-pic {
    width: 13vw;
    height: auto;
    max-width: 200px;
    min-width: 100px;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

#team .body .section .middle .member-pic img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}

#team .body .section .middle .member-pic .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    font-size: 30px;
    z-index: 4;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0.2s;
}

#team .body .section .middle .member-pic .overlay a i {
    color: blanchedalmond;
}

#team .body .section .middle .member-pic .overlay:hover {
    opacity: 1;
}

@media (max-width: 800px) {
    #team .body .section .middle .img {
        width: 35vw;
        height: auto;
    }
    #team .body .section .middle .member-pic {
        width: 27vw;
        height: 27vw;
    }
    #team .body .section .middle .member-pic .overlay {
        font-size: 15px;
    }
    #team .head {
        font-size: 5vw;
    }
    #team .body .section {
        font-size: 5vw;
    }
    #team .body {
        flex-direction: column;
    }
}

#contact {
    width: 100vw;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/images/contact_bg.png');
    background-position: center;
    background-size: 100% 100%;
}

#contact .head {
    height: 20vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 3vw;
    color: blanchedalmond;
    text-shadow: var(--textShadow);
    font-family: var(--fontFamily);
}

#contact .body {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20vh;
}

#contact .body .section a .img {
    width: 13vw;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    min-width: 150px;
    min-height: 150px;
}

#contact .body .section {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5vw;
    color: #530000;
    font-family: var(--fontFamily);
    margin-bottom: 2vh;
}

@media (max-width: 800px) {
    #contact .head {
        font-size: 5vw;
    }
    #contact .body .section {
        font-size: 4vw;
    }
    #contact .body {
        flex-direction: column;
    }
}

#footer {
    background-color: #D7B784;
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .head {
    width: 70vw;
    height: 100%;
    font-family: 'Blinker';
    color: #530000;
    font-size: 2.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#footer .head .mailto {
    color: white;
    font-size: 1.5vw;
}

#footer .head .location {
    color: white;
    font-size: 1.5vw;
}

#footer .head .text {
    text-align: left;
    margin-bottom: 1vh;
}

#footer .icons {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.download-app {
    width: 17vw;
    /* min-width: 180px; */
}

@media (max-width: 800px) {
    #footer {
        height: 15vh;
    }
    #footer .head {
        display: flex;
        font-size: 3vw;
    }
    #footer .head .mailto {
        font-size: 3vw;
    }
    #footer .head .location {
        color: white;
        font-size: 3vw;
    }
    #footer .head .mailto i {
        font-size: 4vw;
    }
    #footer .head .location i {
        color: white;
        font-size: 4vw;
    }
    #footer .icons {
        flex-direction: column;
    }
    .download-app {
        width: 23vw;
        /* max-width: 20vw; */
        min-width: 50px;
    }
}